/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/** end reset css**/

.main_container {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1140px;
    margin: auto;
    font-family: "Work Sans";
    font-size: 14px;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

section {
    margin: 50px 0;
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: "Syne";
    font-size: 22px;
    font-weight: 800;
    color: #b1663c;
}

h1 > span {
    font-family: "Work Sans";
    font-size: 10px;
    letter-spacing: 0.1em;
}

h2 {
    font-family: "Syne";
    font-weight: 700;
    font-size: 30px;
    color: #1d6154;
}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 20px;
}
nav li {
    padding: 0px 10px;
    padding-top: 4px;
    font-size: 1.2em;
}

li img {
    height: 22px;
    width: 22px;
}

li:hover {
    color: #b1663c;
    cursor: pointer;
}
#introduction {
    display: flex;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
}
#introduction figure {
    flex: 1;
}
#introduction img {
    display: block;
    margin: auto;
    width: 80%;
}

#introduction article {
    flex: 1;
}

#introduction h2 {
    margin-bottom: 1em;
}

#introduction p {
    margin-bottom: 0.5em;
    color: #3d3d3d;
    width: 400px;
}
#portfolio h2 {
    text-align: center;
    margin-bottom: 1em;
}
.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.gallery img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.button_filter {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 50px;
    /*padding-top: 20px;*/
}

.filtres {
    height: 37px;
    font-family: "Syne";
    border-radius: 60px;
    border: 1px solid #1d6154;
    color: #1d6154;
    background-color: white;
    padding: 0px 15px 0px 15px;
    text-align: center;
    cursor: pointer;
}

#contact {
    width: 50%;
    margin: auto;
}
#contact > * {
    text-align: center;
}
#contact h2 {
    margin-bottom: 20px;
}
#contact form {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#contact input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
    margin: 2em 0 1em 0;
}
#contact textarea {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
    font-family: "Syne";
    font-weight: 700;
    color: white;
    background-color: #1d6154;
    margin: 2em auto;
    width: 180px;
    text-align: center;
    border-radius: 60px;
    cursor: pointer;
}

footer nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 2em;
}

/*PAGE INDEX_LOG*/

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    color: #b1663c;
}

.container_connexion {
    padding-top: 80px;
    width: 50%;
    margin: auto;
}

.container_connexion > * {
    text-align: center;
}

.container_connexion form {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_connexion input {
    height: 50px;
    font-size: 14px;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    width: 379px;
}

.input_container_mail {
    display: flex;
    flex-direction: column;
}
.container_connexion label {
    margin: 2em 0 1em 0;
}

.lien_mdp a {
    color: black;
    text-decoration: none;
    border-bottom: 1px #000000 solid;
}

#login_error {
    color: red;
    padding-bottom: 20px;
    align-self: center;
}

#connexion {
    width: 179px;
    height: 36px;
}

.none {
    display: none; /*correspond aux class des projets*/
}

/*Page en mode admin*/

.logout:hover {
    color: #b1663c;
}

.logout {
    margin-left: -22px;
}

/*bandeau*/
.rod {
    display: flex;
    position: relative;
    justify-content: center;
    background-color: #000000;
    height: 50px;
    top: 0;
    left: 0;
    z-index: 1;
}

button .fa-regular {
    color: white;
    height: 15px;
    width: 15px;
}

.button_edition {
    display: flex;
    flex-direction: row;
    border: none;
    align-items: center;
    background-color: transparent;
    gap: 10px;
    cursor: pointer;
}

.rod p {
    color: white;
    align-self: center;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}

/*bouton modifier*/

.project_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding-bottom: 50px;
}

.button_project {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 12px;
    cursor: pointer;
}

.fa-pen-to-square {
    color: #000000;
}

/*modal*/

.overlay {
    position: fixed;
    background: #333333d3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#modal {
    width: 630px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
    z-index: 2;
}

.first_modal {
    display: flex;
    justify-content: space-between;
    align-self: first baseline;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.close_btn {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.title_gallery {
    align-self: center;
    font-family: "Work Sans";
    font-size: 26px;
    padding-top: 30px;
    font-weight: 400;
    line-height: normal;
    font-style: normal;
}

#modal button {
    width: 237px;
    height: 36px;
    margin-top: 0px;
    border-radius: 60px;
    background: #1d6154;
    align-self: center;
    border: none;
    color: white;
    font-family: "Syne";
    font-weight: 700;
    line-height: normal;
    font-size: 14px;
    margin-bottom: 20px;
    cursor: pointer;
}

/*images modal*/

.works_modal {
    height: 400px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 462px;
    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    padding-bottom: 20px;
}

::-webkit-scrollbar {
    width: 0;
}

.project_modal img {
    height: 104px;
    width: 80px;
    padding: 0px;
}

hr {
    margin-top: 20px;
    width: 420px;
    position: relative;
    border: none;
    background: #b3b3b3;
    height: 1px;
}

/*icone delete*/

.icon_delete {
    display: flex;
    height: 17px;
    width: 17px;
    background: #000000;
    border-radius: 3px;
    justify-content: center;
    z-index: 2;
    position: relative;
    top: -100px;
    left: 55px;
    cursor: pointer;
}

.fa-trash-can {
    color: white;
    font-size: 11px;
    padding: 0px;
    margin: 0px;
    align-self: center;
}

.project_modal {
    margin-bottom: -5px;
}

/* Deuxième modale*/

.new_project {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 10px;
}

.add_photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e8f1f6;
    height: 170px;
    gap: 10px;
}

i.fa-image {
    padding-top: 10px;
    color: #b9c5cc;
    font-size: 70px;
}

.add_photo label {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    background-color: #cbd6dc;
    cursor: pointer;
    width: 173px;
    height: 35px;
    justify-content: center;
}

.add_photo label > span {
    align-self: center;
    font-family: Work Sans;
    color: #306685;
    font-size: 14px;
}

.add_photo p {
    color: #444;
    font-family: Work Sans;
    font-size: 10px;
    line-height: normal;
}

input[type="file"] {
    display: none;
}

.input_container {
    margin: auto;
    width: 100%;
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.input_container label {
    font-family: Work sans;
    color: #3d3d3d;
    font-size: 14px;
    font-style: normal;
}

.input_container input {
    border: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    height: 51px;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

.input_container select {
    border: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    height: 51px;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

.button_add_photo {
    margin-top: 30px;
}

.second_modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#modal #validate_form {
    background-color: #a7a7a7;
    cursor: pointer;
}

#modal #validate_form.enabled {
    background-color: #1d6154;
    cursor: pointer;
    color: white;
}

.arrow_left {
    position: absolute;
    top: 10px;
    left: 20px;
    cursor: pointer;
}

#preview_container {
    display: none;
    justify-content: center;
}

#preview_image {
    height: 170px;
}

/*cache les elements de déconnexion*/

.hidden {
    display: none;
}
